<a href="https://colab.research.google.com/github/content-creatoree/-project-1/blob/main/Untitled21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
user1  = {
    "username" : "saddam",
    "age"      :   18,
    "city"     : "islamabad",

}
user1["usename"] = "saddam"
print(user1["username"])

saddam

In [14]:
user1  = {
    "username" : "ali",
    "age"      :   18,
    "city"     : "islamabad",

}
user1["usename"] = "ali"
print(user1["username"])

ali

In [17]:

 user1  = {
    "username" : "zeeshan",
    "age"      :   18,
    "city"     : "islamabad",

}
user1["usename"] = "zeeshan"
print(user1["username"])

zeeshan

In [16]:
 user1  = {
    "username" : "zeeshan",
    "age"      :   18,
    "city"     : "islamabad",

}
user1["usename"] = "zeeshan"
print(user1["username"])

zeeshan

In [15]:
user1  = {
    "username" : "zeeshan",
    "age"      :   18,
    "city"     : "islamabad",

}
user1["usename"] = "zeeshan"
print(user1["username"])

zeeshan

In [27]:
print(1)
print(2)
print(3)
print(4)
print(5)
for i in range(1,6): # Change if to for as i is not defined
    print(i) # Indent this line to be part of the if block

1
2
3
4
5
1
2
3
4
5